
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Update Car Details</h1>
        <%= form_with model: car, url: car_details_path, multipart: true, method: :patch, local: true, scope: :car_edit do |f| %>  
            <div class="form-row">
                
                <div class="col-md-8">
                
                    <div class="form-group">
                        <%= f.label "make" %>
                        <%= f.text_field "make", :class => 'form-control', required: true %>
                    </div>

                    <div class="form-group">
                        <%= f.label "model" %>
                        <%= f.text_field "model", :class => 'form-control', required: true  %>
                    </div>

                    <div class="form-group">
                        <%= f.label "year" %>
                        <%= f.number_field "year", :class => 'form-control', required: true  %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label "mileage" %>
                        <%= f.number_field "mileage", :class => 'form-control', required: true %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label "price" %>
                        <%= f.number_field "price", :class => 'form-control', required: true %>
                    </div>
                    <div class="form-group">
                        <%= f.label "description" %><br />
                        <%= f.text_area "description", size: "5x5" , :class => 'form-control' %>
                    </div>
                    <div class="form-group row">
                    <div class="col-md-6">
                        <%= f.submit "Confirm", :class=>"btn btn-primary btn-block"%>
                    </div>
                    <div class="col-md-6">
                        <%= link_to 'Cancel', dashboard_path, :class=> "btn btn-danger btn-block" %>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                            <%= image_tag(car.image, :id => "output",
                            class:'detail_car_size') %><br>

                            <%= f.file_field :image, 
                            :onchange => "loadFile(event)" %>
                            
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-1"></div>
</div>
